<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tumi">

    <title>TASSA</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/bootstrap.min.css' %}">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <div class="wrapperleft">
              <div class="dropdown">
                    <button class="dropbtn">Home  </button>
                    <div class="dropdown-content">
                        <a href="#">Home Page</a>
                        <a href="#">Login</a>
                    </div>  
            </div>
            </div> 

             <div class="wrappercentre">      
                    <h2>Course Info.</h2>
                    
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <!DOCTYPE html>
<html>
<head>
<style>
.dropbtn {
    background-color: #e6b800;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00ccff;
}
</style>
</head>

<body>
<div class="wrappercentre">
<div class="dropdown">
  <button class="dropbtn">School Search</button>
  <div class="dropdown-content">
    <a href="#">University of Witswatersrand</a>
    <a href="#">University of Johannesburg</a>
  </div>
</div>
</body>

<body>   
<div class="dropdown">                                            
  <button class="dropbtn">Course Search</button>
  <div class="dropdown-content">
    <a href="#">Commerce</a>
    <a href="#">Engineering</a>
  </div>
</div> 
</body>
<body>   
<div class="dropdown">                                            
  <button class="dropbtn">Custom Search</button>
  <div class="dropdown-content">
    <a href="#">Coming Soon</a>
  </div>
</div> 
</div>
</body>
              
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">TASSA</h1>
                        <p class="intro-text">Explore Your Options
                            <br></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Welcome To TASSA</h2>
                <p>A web application that facilitates the matriculant-tertiary institution application process by allowing the students to submit. their details once and have them distributed to the various institutions.</p>
                <p><h2>Services Offered</h2> </p>
                <p>
                    <li><a href="download">Course Info</a></li>
                </p>
                <a href="#page-top" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                        <P></P>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <div>
     <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>   
    </div>
    
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Apply Now</h2>
                    <p>Have personal details ready!!!.</p>
                    <p>Identity Number </p>
                    <p>Address</p>
                    <p>Academic Records</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">I'm ready to apply</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Logi in Details</h2>
                <form id="login-form" name="mylogin" action="profile_apps.WBX" method="post" autocomplete="off">
                <input type="hidden" name="w_profile_option" value="profile_apps.WBX" />
                <input type="hidden" id="app-id" name="s_app_id" value="" />
                <input type="hidden" name="s_camefrom_login" value="X" />
 
               <label for="username">username</label>
               <input type="text" id="username" name="s_user_id" maxlength="80" />
               <label for="password">password</label>
               <input type="password" id="password" name="s_user_pwd" maxlength="12" />
               <button type="submit" id="login-btn">Log in</button>
               <a href="account_lookup.WBX">Forgot your username or password?</a>
               <a href="#page-top" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
               </form>
                
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery.js'} %"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script type="text/javascript" src="{% static 'js/grayscale.min.js' %}"></script>

</body>

</html>
